// Social buttons share block (article) -->
.block-share {
    $share: &;
    display: flex;
    flex-direction: column;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border: 1px solid $border_color_darker;
        border-bottom: none;
        background-color: transparent;

        &::before {
            content: "";
            width: 25px;
            height: 25px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            transition: all .3s ease-in-out;
        }

        &:last-child {
            border-bottom: 1px solid $border_color_darker;
        }

        &--facebook {
            
            &::before {
                background-image: url("data:image/svg+xml,%3Csvg class='SocialShare-share SocialShare-share_facebook ShareBlock-icon' width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.345 0H1.655C.741 0 0 .741 0 1.655v26.69C0 29.259.741 30 1.655 30h14.38V18.398h-3.906v-4.541h3.906v-3.341c0-3.875 2.369-5.985 5.824-5.985a33.209 33.209 0 0 1 3.486.176v4.05h-2.38c-1.882 0-2.25.89-2.25 2.203v2.892h4.5l-.584 4.541H20.69V30h7.655c.914 0 1.655-.741 1.655-1.655V1.655C30 .741 29.259 0 28.345 0z' fill='%234267b2'%3E%3C/path%3E%3C/svg%3E");
            }
        }

        &--twitter {

            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 0H0V30H30V0Z' fill='%2350ABF1'/%3E%3Cpath d='M6.00102 21.9915C7.63064 23.2637 9.56372 24 11.6359 24C17.4575 24 22.1766 18.1902 22.1766 11.0246C22.1766 10.8457 22.1735 10.6681 22.1679 10.4911C22.3785 10.2871 23.6808 9.00217 24 8.17615C24 8.17615 22.9424 8.71717 21.9074 8.84463C21.9054 8.84463 21.9028 8.84522 21.9008 8.84522C21.9008 8.84522 21.9028 8.84396 21.9064 8.84086C22.0017 8.76241 23.3351 7.64511 23.5156 6.31384C23.5156 6.31384 22.7676 6.80532 21.7203 7.2353C21.5469 7.3062 21.3654 7.37592 21.1782 7.44053C20.5031 6.55359 19.5435 6 18.4783 6C16.4351 6 14.7795 8.03745 14.7795 10.5506C14.7795 10.9053 14.8127 11.2505 14.8754 11.5819C14.5899 11.5675 10.2419 11.2674 7.28398 6.85797C7.28398 6.85797 5.51617 9.82879 8.33745 12.8837C8.33745 12.8837 7.47982 12.8416 6.73991 12.2974C6.73991 12.2974 6.46815 15.8965 9.66318 16.8167C9.66318 16.8167 9.03449 17.1098 8.03152 16.9008C8.03152 16.9008 8.5924 19.8089 11.431 20.0807C11.431 20.0807 9.18638 22.5768 6 21.9911L6.00102 21.9915Z' fill='white'/%3E%3C/svg%3E ");
            }
        }

        &--telegram {
            
            &::before {
                background-image: url("data:image/svg+xml,%3Csvg class='SocialShare-share SocialShare-share_telegram ShareBlock-icon' width='34' height='30' viewBox='0 0 34 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M33.5 1.76l-5.22 26.304s-.73 1.824-2.736.948l-7.427-5.69-4.764 4.34s-.372.283-.78.106l.963-8.205S26.894 7.561 27.44 7.05c.548-.51.365-.62.365-.62.037-.62-.985 0-.985 0L9.12 17.666l-7.373-2.48s-1.131-.402-1.24-1.277c-.11-.876 1.276-1.35 1.276-1.35L31.091 1.067S33.5.009 33.5 1.76z' fill='%231d94d3'%3E%3C/path%3E%3C/svg%3E");
            }
        }

        &--linkedin {
            position: relative;

            button {
                position: absolute!important;
                background-color: transparent !important;
                padding: 0 !important;
                width: 100%;
                top: 0;
                left: 0;
                height: 100%!important;
                display: flex !important;
                justify-content: center;
                align-items: center;
                background-color: transparent !important;
                font-size: 0px!important;
                transition: all .3s ease-in-out;

                xdoor-icon {
                    display: none!important;
                }

                &::before {
                    content: "";
                    width: 25px;
                    height: 25px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.2863 0H2.71374C1.215 0 0 1.215 0 2.71374V27.2862C0 28.785 1.215 30 2.71374 30H27.2862C28.785 30 30 28.785 30 27.2862V2.71374C30 1.215 28.785 0 27.2863 0ZM9.28327 25.904C9.28327 26.3402 8.92971 26.6937 8.49353 26.6937H5.13181C4.69563 26.6937 4.34207 26.3402 4.34207 25.904V11.8118C4.34207 11.3756 4.69563 11.022 5.13181 11.022H8.49353C8.92971 11.022 9.28327 11.3756 9.28327 11.8118V25.904ZM6.81267 9.69361C5.04887 9.69361 3.61901 8.26374 3.61901 6.49995C3.61901 4.73615 5.04887 3.30628 6.81267 3.30628C8.57647 3.30628 10.0063 4.73615 10.0063 6.49995C10.0063 8.26374 8.57654 9.69361 6.81267 9.69361ZM26.8516 25.9676C26.8516 26.3686 26.5264 26.6937 26.1254 26.6937H22.5181C22.1171 26.6937 21.7919 26.3686 21.7919 25.9676V19.3575C21.7919 18.3715 22.0812 15.0365 19.215 15.0365C16.9918 15.0365 16.5408 17.3192 16.4503 18.3436V25.9676C16.4503 26.3686 16.1252 26.6937 15.7242 26.6937H12.2352C11.8342 26.6937 11.5091 26.3686 11.5091 25.9676V11.7481C11.5091 11.3471 11.8342 11.022 12.2352 11.022H15.7242C16.1252 11.022 16.4503 11.3471 16.4503 11.7481V12.9776C17.2747 11.7404 18.4998 10.7855 21.1083 10.7855C26.8846 10.7855 26.8516 16.1821 26.8516 19.1472V25.9676Z' fill='%230077B7'/%3E%3C/svg%3E ");
                    transition: all .3s ease-in-out;
                }
    
                &:hover {
      
                    svg {
                        display: none;
                    }
    
                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.2863 0H2.71374C1.215 0 0 1.215 0 2.71374V27.2862C0 28.785 1.215 30 2.71374 30H27.2862C28.785 30 30 28.785 30 27.2862V2.71374C30 1.215 28.785 0 27.2863 0ZM9.28327 25.904C9.28327 26.3402 8.92971 26.6937 8.49353 26.6937H5.13181C4.69563 26.6937 4.34207 26.3402 4.34207 25.904V11.8118C4.34207 11.3756 4.69563 11.022 5.13181 11.022H8.49353C8.92971 11.022 9.28327 11.3756 9.28327 11.8118V25.904ZM6.81267 9.69361C5.04887 9.69361 3.61901 8.26374 3.61901 6.49995C3.61901 4.73615 5.04887 3.30628 6.81267 3.30628C8.57647 3.30628 10.0063 4.73615 10.0063 6.49995C10.0063 8.26374 8.57654 9.69361 6.81267 9.69361ZM26.8516 25.9676C26.8516 26.3686 26.5264 26.6937 26.1254 26.6937H22.5181C22.1171 26.6937 21.7919 26.3686 21.7919 25.9676V19.3575C21.7919 18.3715 22.0812 15.0365 19.215 15.0365C16.9918 15.0365 16.5408 17.3192 16.4503 18.3436V25.9676C16.4503 26.3686 16.1252 26.6937 15.7242 26.6937H12.2352C11.8342 26.6937 11.5091 26.3686 11.5091 25.9676V11.7481C11.5091 11.3471 11.8342 11.022 12.2352 11.022H15.7242C16.1252 11.022 16.4503 11.3471 16.4503 11.7481V12.9776C17.2747 11.7404 18.4998 10.7855 21.1083 10.7855C26.8846 10.7855 26.8516 16.1821 26.8516 19.1472V25.9676Z' fill='white'/%3E%3C/svg%3E ");
                    }
                }
            }
        }
        

        &--whatsapp {

            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 0H0V30H30V0Z' fill='%231BD741'/%3E%3Cpath d='M6 24L7.26062 19.5275C6.44997 18.1519 6.02315 16.5866 6.02315 14.9787C6.02315 10.0278 10.0554 6 15.0116 6C19.9679 6 24 10.0278 24 14.9787C24 19.9296 19.9679 23.9574 15.0116 23.9574C13.4673 23.9574 11.9551 23.5625 10.6173 22.8127L6 24ZM10.8534 21.1792L11.1285 21.3471C12.2949 22.0583 13.6376 22.4343 15.0116 22.4343C19.1271 22.4343 22.4753 19.0897 22.4753 14.9787C22.4753 10.8677 19.1271 7.52309 15.0116 7.52309C10.8961 7.52309 7.54789 10.8677 7.54789 14.9787C7.54789 16.4111 7.95545 17.8022 8.7264 19.0014L8.91169 19.2896L8.18574 21.8652L10.8534 21.1792Z' fill='white'/%3E%3Cpath d='M12.4867 10.7997L11.9034 10.7679C11.7202 10.7579 11.5405 10.8191 11.4021 10.9392C11.1193 11.1845 10.6672 11.6587 10.5283 12.2766C10.3212 13.198 10.6413 14.3262 11.4695 15.4544C12.2978 16.5826 13.8414 18.3877 16.5708 19.1587C17.4504 19.4071 18.1423 19.2396 18.6761 18.8985C19.0989 18.6284 19.3903 18.1948 19.4954 17.7045L19.5885 17.2701C19.6181 17.132 19.5479 16.9919 19.4195 16.9327L17.4483 16.0251C17.3204 15.9663 17.1686 16.0035 17.0826 16.1149L16.3087 17.117C16.2503 17.1927 16.1502 17.2227 16.0599 17.191C15.5299 17.0049 13.7548 16.2623 12.7808 14.3881C12.7385 14.3068 12.749 14.2082 12.8089 14.1388L13.5485 13.2842C13.6241 13.1969 13.6431 13.0742 13.5977 12.9682L12.7481 10.9825C12.7028 10.8768 12.6015 10.8059 12.4867 10.7997Z' fill='white'/%3E%3C/svg%3E ");
            }
        }
        
        &--skype {

            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.6341 29.4864C18.2178 30.1712 11.7822 30.1712 5.36591 29.4864C2.80746 29.2133 0.786667 27.1925 0.513611 24.6339C-0.171204 18.2176 -0.171204 11.7822 0.513611 5.36591C0.786667 2.80746 2.80746 0.786667 5.36591 0.513611C11.7822 -0.171204 18.2176 -0.171204 24.6339 0.513611C27.1925 0.786667 29.2133 2.80746 29.4864 5.36591C30.1712 11.7822 30.1712 18.2176 29.4864 24.6339C29.2133 27.1925 27.1928 29.2133 24.6341 29.4864Z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M23.217 16.1215C23.2667 15.7546 23.2928 15.3804 23.2928 15C23.2928 10.4199 19.5801 6.70719 15 6.70719C14.6196 6.70719 14.2454 6.73333 13.8787 6.78296C13.0874 6.28691 12.1515 6 11.1488 6C8.30522 6 6 8.305 6 11.1488C6 12.1515 6.28713 13.0871 6.78296 13.8785C6.73333 14.2454 6.70719 14.6196 6.70719 15C6.70719 19.5801 10.4201 23.2928 15.0002 23.2928C15.3806 23.2928 15.7548 23.2667 16.1215 23.217C16.9129 23.7131 17.8487 24 18.8514 24C21.695 24 24 21.695 24 18.8512C24 17.8485 23.7131 16.9129 23.217 16.1215V16.1215ZM18.7714 18.9753C18.15 19.7163 17.3136 20.0593 16.4004 20.2487C15.8707 20.3586 15.3306 20.4202 14.7893 20.3881C13.7449 20.3263 12.7218 20.1787 11.8469 19.5267C11.2281 19.0657 10.7848 18.4819 10.5785 17.7317C10.3807 17.0128 10.7708 16.4536 11.3792 16.3546C11.7514 16.2941 12.1524 16.4354 12.3906 16.7582C12.5669 16.9973 12.6693 17.272 12.7947 17.5347C13.1935 18.3702 13.8643 18.7446 14.772 18.7617C15.3757 18.773 15.958 18.7158 16.4837 18.3855C17.0823 18.0093 17.2986 17.4689 17.0974 16.8743C16.9849 16.5418 16.7358 16.3444 16.4432 16.1928C15.8439 15.8824 15.1799 15.7863 14.5341 15.6296C13.6113 15.4061 12.6921 15.1861 11.8742 14.6588C10.5429 13.8008 10.4168 11.9588 11.3433 10.8916C11.9089 10.2402 12.6491 9.93272 13.458 9.75282C13.9561 9.64205 14.4639 9.58556 14.912 9.6086C15.8038 9.59552 16.6091 9.71073 17.3573 10.0776C18.1008 10.4421 18.6997 10.9512 18.9343 11.7933C19.1638 12.6175 18.4832 13.3495 17.6608 13.1485C17.3996 13.0845 17.2286 12.8915 17.0784 12.6775C16.9013 12.4247 16.77 12.1442 16.5819 11.8972C16.2533 11.4645 15.8313 11.2186 15.2858 11.1962C14.7064 11.1723 14.1262 11.1348 13.5859 11.4229C13.3754 11.535 13.1904 11.6745 13.0561 11.8666C12.7632 12.2856 12.8906 12.7903 13.3561 13.1055C13.832 13.4279 14.383 13.5409 14.9282 13.6707C15.8968 13.9013 16.879 14.0903 17.7878 14.5181C18.5973 14.8992 19.219 15.4553 19.402 16.3798C19.5918 17.3398 19.4108 18.2129 18.7714 18.9753V18.9753Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='9.96059' y1='4.21794' x2='17.5484' y2='20.4524' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2300C3FF'/%3E%3Cstop offset='1' stop-color='%2300B0ED'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E ");
            }
        }
        
        &--viber {

            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26 0H4C1.79086 0 0 1.79086 0 4V26C0 28.2091 1.79086 30 4 30H26C28.2091 30 30 28.2091 30 26V4C30 1.79086 28.2091 0 26 0Z' fill='%238E24AA'/%3E%3Cpath d='M23.8161 16.4205C24.402 11.9042 23.5347 9.05296 21.9703 7.76335L21.9711 7.7626C19.4462 5.56029 10.9191 5.23433 7.89835 7.86151C6.5418 9.14663 6.06398 11.0327 6.01162 13.3677C5.95925 15.7033 5.89707 20.0787 10.3488 21.2657H10.3529L10.3488 23.0783C10.3488 23.0783 10.3185 23.8127 10.8307 23.9603C11.4165 24.1342 11.6816 23.7932 13.5037 21.8C16.5507 22.042 18.8907 21.4875 19.1566 21.4066C19.7718 21.2177 23.2532 20.7959 23.8161 16.4205ZM13.804 20.5246C13.804 20.5246 11.8755 22.7269 11.2758 23.2986C11.0795 23.4845 10.8643 23.4673 10.8675 23.0986C10.8675 22.8565 10.8823 20.0892 10.8823 20.0892C7.10798 19.0986 7.33053 15.3729 7.37144 13.4239C7.41235 11.4741 7.8018 9.87724 8.95053 8.80193C11.6006 6.52619 19.0764 7.03499 20.9811 8.67455C23.3097 10.5651 22.4809 15.9064 22.4858 16.0885C22.0071 19.7408 19.186 19.9723 18.6673 20.1304C18.4456 20.1979 16.3878 20.6827 13.804 20.5246V20.5246Z' fill='white'/%3E%3Cpath d='M14.8713 9.22974C14.5563 9.22974 14.5563 9.67934 14.8713 9.68309C17.3152 9.70032 19.3279 11.2604 19.35 14.1222C19.35 14.4242 19.8327 14.4204 19.8286 14.1184H19.8278C19.8016 11.0349 17.604 9.24697 14.8713 9.22974V9.22974Z' fill='white'/%3E%3Cpath d='M18.0854 13.6478C18.078 13.946 18.5599 13.9602 18.564 13.6583C18.6041 11.958 17.4594 10.5575 15.3084 10.4099C14.9934 10.3889 14.9607 10.8423 15.2749 10.8632C17.1403 10.9929 18.123 12.1588 18.0854 13.6478V13.6478Z' fill='white'/%3E%3Cpath d='M17.5699 15.5818C17.1657 15.3675 16.7541 15.5009 16.584 15.7114L16.228 16.1333C16.0472 16.3476 15.7093 16.3191 15.7093 16.3191C13.2433 15.7219 12.5839 13.3585 12.5839 13.3585C12.5839 13.3585 12.5536 13.0385 12.7794 12.8669L13.2245 12.5297C13.447 12.3679 13.5878 11.9782 13.3611 11.5953C12.7557 10.5934 12.349 10.248 12.142 9.98272C11.9244 9.73319 11.5971 9.67699 11.2568 9.84559H11.2494C10.5417 10.2248 9.76685 10.9344 10.0148 11.665C10.4378 12.4353 11.215 14.8909 13.6925 16.7463C14.8568 17.6237 16.6993 18.5229 17.4815 18.7305L17.4889 18.741C18.2596 18.9763 19.009 18.2389 19.4091 17.5713V17.566C19.5867 17.2431 19.5278 16.9373 19.2684 16.7373C18.8086 16.3266 18.1148 15.8733 17.5699 15.5818Z' fill='white'/%3E%3Cpath d='M15.6457 12.0822C16.432 12.1242 16.8133 12.5004 16.8542 13.2729C16.8689 13.5749 17.3476 13.554 17.3329 13.252C17.2805 12.2434 16.7061 11.6814 15.6719 11.6289C15.3569 11.6117 15.3275 12.065 15.6457 12.0822V12.0822Z' fill='white'/%3E%3C/svg%3E ");
            }
        }

        &--email {

            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.875 0H28.125C29.1769 0 30 1.01308 30 2.30769V27.6923C30 28.9869 29.1769 30 28.125 30H14.3756H1.875C0.823125 30 0 28.9869 0 27.6923V2.30769C0 1.03615 0.841875 0 1.875 0Z' fill='%232196F3'/%3E%3Cpath d='M16.1948 6.07293C13.2531 5.70082 10.3234 6.76712 8.34157 8.94174C6.33377 11.1504 5.56585 14.1192 6.23778 17.086C6.98371 20.385 9.59544 23.0037 12.8951 23.7579C13.603 23.92 14.309 24 15.0069 24C16.3908 24 17.7406 23.6859 18.9905 23.0657C19.4865 22.8197 19.6884 22.2195 19.4445 21.7254C19.1965 21.2252 18.5945 21.0272 18.1046 21.2712C16.6427 21.9994 14.9949 22.1835 13.3411 21.8074C10.8273 21.2352 8.75753 19.1606 8.18958 16.6459C7.66364 14.3233 8.25758 12.0066 9.82142 10.2881C11.3833 8.56963 13.609 7.7514 15.9368 8.05749C19.3925 8.50161 22.0002 11.6465 22.0002 15.3696V15.9977C22.0002 17.1 21.1043 17.9983 20.0004 17.9983C19.4505 17.9983 19.0005 17.5502 19.0005 16.998V11.9966C19.0005 11.4444 18.5525 10.9963 18.0006 10.9963V10.9963C17.3918 10.9963 16.6196 11.2906 16.0319 11.1314C15.7082 11.0437 15.3641 10.9963 15.0009 10.9963C12.6451 10.9963 11.0013 12.8468 11.0013 15.4976C11.0013 18.1483 12.6451 19.9989 15.0009 19.9989C15.1253 19.9989 15.2476 19.9935 15.3676 19.983C16.7745 19.8602 18.5882 19.9989 20.0004 19.9989V19.9989C22.2062 19.9989 24 18.2044 24 15.9977V15.3696C24 10.6422 20.6423 6.64709 16.1948 6.07293ZM15.0009 17.9983C13.767 17.9983 13.0011 17.04 13.0011 15.4976C13.0011 13.9552 13.767 12.9969 15.0009 12.9969C16.2348 12.9969 17.0007 13.9552 17.0007 15.4976C17.0007 17.04 16.2348 17.9983 15.0009 17.9983Z' fill='%23FAFAFA'/%3E%3C/svg%3E ");
            }
        }

        &--copy_link {

            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='30' height='31' viewBox='0 0 30 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.6479 0.355469H3.35213C1.50377 0.355469 0 2.13932 0 4.33202V26.3789C0 28.5716 1.50377 30.3555 3.35213 30.3555H26.6479C28.4963 30.3555 30.0001 28.5715 30.0001 26.3789V4.33202C30 2.13932 28.4962 0.355469 26.6479 0.355469Z' fill='%238BC4FF'/%3E%3Cpath d='M8.69032 18.8296C14.5909 15.8966 22.9078 15.8684 30.0001 16.6432V3.70754C30.0001 1.85918 28.4963 0.355469 26.6479 0.355469H3.35213C1.50377 0.355469 0 1.85918 0 3.70754V20.7213C2.31102 21.0027 5.1807 20.5742 8.69032 18.8296V18.8296Z' fill='%238BC4FF'/%3E%3Cpath d='M3.33795 4.26061C3.88015 4.26061 4.3197 3.82107 4.3197 3.27887C4.3197 2.73666 3.88015 2.29712 3.33795 2.29712C2.79574 2.29712 2.3562 2.73666 2.3562 3.27887C2.3562 3.82107 2.79574 4.26061 3.33795 4.26061Z' fill='%23E88793'/%3E%3Cpath d='M6.21942 4.26061C6.76163 4.26061 7.20117 3.82107 7.20117 3.27887C7.20117 2.73666 6.76163 2.29712 6.21942 2.29712C5.67722 2.29712 5.23767 2.73666 5.23767 3.27887C5.23767 3.82107 5.67722 4.26061 6.21942 4.26061Z' fill='%23FEE67B'/%3E%3Cpath d='M9.10089 4.26061C9.64309 4.26061 10.0826 3.82107 10.0826 3.27887C10.0826 2.73666 9.64309 2.29712 9.10089 2.29712C8.55868 2.29712 8.11914 2.73666 8.11914 3.27887C8.11914 3.82107 8.55868 4.26061 9.10089 4.26061Z' fill='%239BD65E'/%3E%3Cpath d='M12.3897 20.1734C11.0548 21.6882 8.74981 20.6122 8.74981 18.4622C8.74981 17.8159 8.97158 17.2082 9.37431 16.7512L11.689 14.1245C12.5221 13.1789 13.8709 13.1787 14.7043 14.1245C15.2412 14.7338 16.1117 14.7338 16.6486 14.1245C17.1855 13.5152 17.1855 12.5273 16.6486 11.918C14.7409 9.75275 11.6527 9.75245 9.74465 11.918L7.43008 14.5447C4.37252 18.0145 6.54058 24 10.882 24C12.1322 24 13.3823 23.4599 14.334 22.3798C14.871 21.7706 14.871 20.7826 14.334 20.1734C13.7971 19.564 12.9266 19.564 12.3897 20.1734V20.1734Z' fill='white'/%3E%3Cpath d='M15.6663 7.6208C15.1294 8.23018 15.1294 9.21801 15.6663 9.82729C16.2032 10.4367 17.0737 10.4367 17.6106 9.82729C18.961 8.29454 21.2504 9.40553 21.2504 11.5383C21.2504 12.1846 21.0287 12.7923 20.6259 13.2494L18.3113 15.8762C17.4782 16.8218 16.1294 16.822 15.2959 15.8762C14.7591 15.2668 13.8885 15.2668 13.3517 15.8762C12.8147 16.4855 12.8147 17.4734 13.3517 18.0827C15.2594 20.2479 18.3475 20.2482 20.2556 18.0827L22.5702 15.456C23.4922 14.4095 24 13.0182 24 11.5384C24 6.61444 18.7211 4.15422 15.6663 7.6208V7.6208Z' fill='white'/%3E%3C/svg%3E ");
            }
        }

        &--print  {

            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26 0H4C1.79086 0 0 1.79086 0 4V26C0 28.2091 1.79086 30 4 30H26C28.2091 30 30 28.2091 30 26V4C30 1.79086 28.2091 0 26 0Z' fill='%23FF6F14'/%3E%3Cpath d='M19.185 11.3232H10.815C10.5375 11.3232 10.3125 11.0982 10.3125 10.8207V8.14251C10.3125 7.12702 11.1382 6.30127 12.1537 6.30127H17.8455C18.861 6.30127 19.6868 7.12702 19.6868 8.14251V10.8207C19.6875 11.0982 19.4625 11.3232 19.185 11.3232Z' fill='%23FF6F14'/%3E%3Cpath d='M21.8251 18.9749H8.17505C7.3463 18.9749 6.67505 18.3036 6.67505 17.4749V12.5249C6.67505 11.6961 7.3463 11.0249 8.17505 11.0249H21.8251C22.6538 11.0249 23.3251 11.6961 23.3251 12.5249V17.4749C23.3251 18.3036 22.6538 18.9749 21.8251 18.9749Z' fill='%23FF6F14'/%3E%3Cpath d='M18.0336 23.4375H11.9661C11.1373 23.4375 10.4661 22.7662 10.4661 21.9375V16.7985C10.4661 16.53 10.6836 16.3125 10.9521 16.3125H19.0483C19.3168 16.3125 19.5343 16.53 19.5343 16.7985V21.9375C19.5336 22.7662 18.8623 23.4375 18.0336 23.4375Z' fill='%23FF6F14'/%3E%3Cpath d='M21.9375 19.5H19.875C19.5645 19.5 19.3125 19.248 19.3125 18.9375C19.3125 18.627 19.5645 18.375 19.875 18.375H21.9375C22.4543 18.375 22.875 17.9542 22.875 17.4375V12.5625C22.875 12.0457 22.4543 11.625 21.9375 11.625H8.0625C7.54575 11.625 7.125 12.0457 7.125 12.5625V17.4375C7.125 17.9542 7.54575 18.375 8.0625 18.375H10.125C10.4355 18.375 10.6875 18.627 10.6875 18.9375C10.6875 19.248 10.4355 19.5 10.125 19.5H8.0625C6.92475 19.5 6 18.5752 6 17.4375V12.5625C6 11.4247 6.92475 10.5 8.0625 10.5H21.9375C23.0752 10.5 24 11.4247 24 12.5625V17.4375C24 18.5752 23.0752 19.5 21.9375 19.5Z' fill='white'/%3E%3Cpath d='M16.6875 21.75H12.5625C12.252 21.75 12 21.498 12 21.1875C12 20.877 12.252 20.625 12.5625 20.625H16.6875C16.998 20.625 17.25 20.877 17.25 21.1875C17.25 21.498 16.998 21.75 16.6875 21.75Z' fill='white'/%3E%3Cpath d='M13.6875 19.5H12.5625C12.252 19.5 12 19.248 12 18.9375C12 18.627 12.252 18.375 12.5625 18.375H13.6875C13.998 18.375 14.25 18.627 14.25 18.9375C14.25 19.248 13.998 19.5 13.6875 19.5Z' fill='white'/%3E%3Cpath d='M19.6875 11.25C19.377 11.25 19.125 10.998 19.125 10.6875V8.06249C19.125 7.54574 18.7043 7.12499 18.1875 7.12499H11.8125C11.2957 7.12499 10.875 7.54574 10.875 8.06249V10.6875C10.875 10.998 10.623 11.25 10.3125 11.25C10.002 11.25 9.75 10.998 9.75 10.6875V8.06249C9.75 6.92475 10.6748 6 11.8125 6H18.1875C19.3252 6 20.25 6.92475 20.25 8.06249V10.6875C20.25 10.998 19.998 11.25 19.6875 11.25Z' fill='white'/%3E%3Cpath d='M18.1875 24H11.8125C10.6748 24 9.75 23.0752 9.75 21.9375V16.3125C9.75 16.002 10.002 15.75 10.3125 15.75H19.6875C19.998 15.75 20.25 16.002 20.25 16.3125V21.9375C20.25 23.0752 19.3252 24 18.1875 24ZM14.875 16.875C12.6659 16.875 10.875 18.6659 10.875 20.875V21.9375C10.875 22.4542 11.2957 22.875 11.8125 22.875H18.1875C18.7043 22.875 19.125 22.4542 19.125 21.9375V20.875C19.125 18.6659 17.3341 16.875 15.125 16.875H14.875Z' fill='white'/%3E%3C/svg%3E ");
            }
        }
    }

    &--articles {
        position: sticky;
        top: 105px;

        @include media("<=400px") {
            top: 90px;

            #{$share}__item {
                width: 40px;
                height: 40px;
            }
        }
    }

    &--product {
        flex-direction: row;
        align-items: center;

        #{$share}__item {
            width: auto;
            height: auto;
            border: none;
            margin-right: .5rem;
            display: flex;
            align-items: center;
            position: relative;

            &::before {
                display: none;
            }

            & > a {
                height: 14px;
                width: auto;
            }
        
            .toogle {
                display: none;
            }

            &:last-child {
                margin-right: 0;
                position: relative;
                padding: .5rem;
                padding-right: 0;
            }

            &-menu {
                display: none;
                right: -8px;
                opacity: 0;
                position: absolute;
                width: 185px;
                top: 100%;

                .label_linkedin_empty {
                    opacity: 0;
                    width: 36px;
                    height: 36px;
                }
            }

            &.active {

                #{$share}__item-menu {
                    display: flex;
                    flex-wrap: wrap;
                    opacity: 1;
                }
            }
        }

        #{$share}__label {
            display: flex;
            width: 36px;
            height: 36px;
            cursor: pointer;

            &.label_facebook {
                background: url(../image/social_buttons.png) no-repeat 0% 0;
            }
        
            &.label_facebook_messenger {
                background: url(../image/social_buttons.png) no-repeat 16.6% 0;
            }
        
            &.label_twitter {
                background: url(../image/social_buttons.png) no-repeat 33.3% 0;
            }
        
            &.label_linkedin {
                background: url(../image/social_buttons.png) no-repeat 50% 0;
            }
        
            &.label_whatsapp {
                background: url(../image/social_buttons.png) no-repeat 66.6% 0;
            }
        
            &.label_skype {
                background: url(../image/social_buttons.png) no-repeat 83.3% 0;
            }
        
            &.label_viber {
                background: url(../image/social_buttons.png) no-repeat 0% 100%;
            }
        
            &.label_google_gmail {
                background: url(../image/social_buttons.png) no-repeat 16.6% 100%;
            }
        
            &.label_email {
                background: url(../image/social_buttons.png) no-repeat 33.3% 100%;
            }
        
            &.label_copy_link {
                background: url(../image/social_buttons.png) no-repeat 50% 100%;
            }
        
            &.label_print {
                background: url(../image/social_buttons.png) no-repeat 66.6% 100%;
            }
        }
    }
}


